//переменные со шрифтами
$baseFont: "Roboto", sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//переменные с цветами
$btn-color: #FC4442;
$btn-bg: #FEDAD9;
$blue: #F5FBFB;
$yelow: #FCF9EC;
$disable: #969696;
$white: #FFFFFF;
$black: #2D2D2D;
$grey: #6C6C6C;
$input: #ABABAB;
$footer: #EAEAEA;

//разрешения экранов
$mobile: 375px;
$tablet: 768px;
$desktop: 1210px;


