*
{
	box-sizing: border-box;
	font-family: $baseFont;
}
html
{
	font-size: 16px;
	min-width: 375px;
	height: 100vh;
	min-height: 100vh;
}
body
{
	height: 100%;
	min-height: 100%;
}
.container
{
	width: 100%;
	max-width: $desktop;
	margin: 0 auto;
	padding: 0 20px;
}
