.header__wrapper
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	> img{cursor: pointer;}
}
.header__catalog-btn{display: none;}
.header__rigth
{
	display: flex;
	> img:not(:last-child){margin-right: 24px;}
	img{cursor: pointer;}
}
.header__logo
{
	position: relative;
	left: 12px;
	> span{display: none}
}
.header__top
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-basis: 100%;
	margin-bottom: 34px;
}
.header__catalog-btn{position: relative;}

#header__toggle {
  opacity: 0;
}


.header__btn
{
	display: flex;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 16.5px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

/* добавляем "гамбургер" */
.header__btn > span,
.header__btn > span::before,
.header__btn > span::after
{
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	border-radius: 2px;
}

.header__btn > span::before
{
	content: '';
	top: -6px;
}

.header__btn > span::after
{
	content: '';
	top: 6px;
}

#header__toggle:checked ~ .header__btn > span{transform: rotate(45deg);}

#header__toggle:checked ~ .header__btn > span::before
{
	top: 0;
	transform: rotate(0);
}

#header__toggle:checked ~ .header__btn > span::after
{
	top: 0;
	transform: rotate(90deg);
}

#header__toggle:checked ~ .header__box
{
	visibility: visible;
	left: 0;
}
.header__bottom{display: none;}
.header__phone{display: none;}
.header__info{display: none;}
.header__bottom-menu{display: none;}
@media screen and (min-width: 768px)
{
	.header__wrapper
	{
		margin-bottom: 30px;
		padding-top: 15px;
	}
	.header__logo
	{
		display: flex;
		align-items: center;
		flex-direction: column;
		> span
		{
			display: inline-block;
			font-size: 11px;
			line-height: 13px;
			font-weight: $regular;
			color: $grey;
		}
	}
}
@media screen and (min-width: 1024px)
{
	.header__wrapper
	{
		flex-direction: column;
		margin-bottom: 36px;
	}
	.header__burger{display: none;}
	.header__rigth{display: none;}
	.header__logo
	{
		left: 0;
		> img{align-self: flex-start;}
	}
	.header__phone
	{
		display: flex;
		flex-direction: column;
		position: relative;
		right: 80px;
		> a
		{
			display: inline-block;
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 19px;
			font-weight: $medium;
		}
		> span
		{
			font-weight: $light;
			font-size: 13px;
			line-height: 15px;
			color: $black;
		}
		&:hover {color: $btn-color;}
	}
	.header__info{display: flex;}
	.header__info-item
	{
		> a
		{
			font-weight: $regular;
			font-size: 18px;
			line-height: 21px;
			color: $grey;
		}
		&:not(:last-child){margin-right: 80px;}
		&:hover > a{color: $btn-color;}
	}
	.header__catalog-btn
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 170px;
		width: 100%;
		position: relative;
		padding: 0 32px;
		background: $btn-color;
		border-radius: 100px;
		color: $white;
		font-weight: 500;
		font-size: 18px;
		line-height: 52px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		border: none;
		&:hover
		{
			background: #FFFFFF;
			color: $btn-color;
			outline: 1px solid $btn-color;
			.header__catalog-burger
			{
				span,
				span::before,
				span::after
				{
					background-color: $btn-color;
				}
			}
		}
		&--active
		{
			background: #FFFFFF;
			color: $btn-color;
			outline: 1px solid $btn-color;
			.header__catalog-burger
			{
				span,
				span::before,
				span::after
				{display: none;}
				img{display: flex;}
			}
		}
	}
	.header__catalog-burger
	{
		width: 100%;
		display: flex;
		cursor: pointer;
		span,
		span:after,
		span:before
		{
			display: block;
			position: absolute;
			width: 16.5px;
			height: 2px;
			background-color: #FFFFFF;
			border-radius: 2px;
		}
		span:before
		{
			content: '';
			top: -6px;
		}
		span:after
		{
			content: '';
			top: 6px;
		}
		img{display: none;}
	}
	.header__btn
	{
		position: relative;
		top: 6px;
		left: -17px;
	}
	.header__bottom
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 26px;
	}
	.header__bottom-label
	{
		position: relative;
		flex: 1;
		img
		{
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			z-index: 11;
			cursor: pointer;
		}
		input
		{
			height: 52px;
			padding-right: 40px;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: rgba(45, 45, 45, 0.5);
			&:focus{border-color:  $btn-color;}
		}
	}

	.header__bottom-menu
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}
	.header__bottom-profile,
	.header__bottom-favorit
	{
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		font-size: 18px;
		line-height: 21px;
		color: $black;
		&:hover{color: $btn-color;}
	}
}
