.category-filter
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
}
.category-filter__close
{
	position: absolute;
	top: 16px;
	left: 243px;
	z-index: 1;
}
.category-filter__background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(196, 196, 196, 0.38);
}
.category-filter__content
{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	min-width: 279px;
	height: 100%;
	background-color: #FFFFFF;
	overflow: auto;
}
.category-filter__subcategories
{
	padding: 19px 16px 26px 18px;
}
.category-filter__subcategories-title
{
	margin-bottom: 10px;
	display: flex;
	a
	{
		font-weight: $medium;
		font-size: 16px;
		line-height: 19px;
		color: $black;
	}
}
.category__filter-subcategories-item
{
	a
	{
		font-weight: $regular;
		font-size: 14px;
		line-height: 16px;
		color: $grey;
	}
}
.category-filter__clear
{
	width: 88%;
	margin: 0 auto;
	padding: 0 65px;
	background: #FEDAD9;
	border-radius: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 43px;
	color: #FC4442;
	border: none;
}
@media (min-width: 1440px)
{
	.category-filter
	{
		position: static;
		display: flex;
		width: unset;
		height: fit-content;
		border: 1px solid #ABABAB;
		border-radius: 10px;
		padding: 3px;
	}
	.category-filter__close,
	.category-filter__background
	{
		display: none;
	}
	.category-filter__content
	{
		position: unset;
	}
	.category-filter__clear{margin-bottom: 34px;}
}
