.detail-page__top
{
	h3
	{
		margin: 0 0 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #2D2D2D;
	}
	span
	{
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #6C6C6C;
	}
}
.detail-page__slider{margin-bottom: 20px;}
.detail-page__shops
{
	padding: 25px 15px 30px 15px;
	margin-bottom: 20px;
	border: 1px solid #EAEAEA;
	border-radius: 20px;
	p
	{
		margin-bottom: 26px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #969696;
	}
}
.detail-page__shops-btn
{
	width: 100%;
	background: #FEDAD9;
	border-radius: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 44px;
	color: #FC4442;
	border: none;
}
.detail-page__shops-list{margin-bottom: 25px;}
.detail-page__shops-item
{
	.accordion__title
	{
		span:first-of-type
		{
			display: block;
			margin-bottom: 5px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #2D2D2D;
		}
		span:last-of-type
		{
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			color: #6C6C6C;
		}
	}
}
.detail-page__tabs
{
	padding: 25px;
	margin-bottom: 20px;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
}
.detail-page__tabs-list
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.detail-page__tabs-item
{
	a
	{
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #969696;
	}
	&--active
	{
		a{color: #2D2D2D;}
	}
}
