.detail-page__top
{
	h3
	{
		margin: 0 0 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #2D2D2D;
	}
	span
	{
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #6C6C6C;
	}
}
.detail-page__slider{margin-bottom: 20px;}
