.catalog-menu-list__wrapper
{
	display: none;
	position: absolute;
	top: -30px;
	width: 100%;
	padding: 14px 0 14px 0;
	z-index: 5;
	background-color: $white;
	& * a:hover{color: $btn-color;}
	//ul
	//{
	//	position: absolute;
	//	right: 100%;
	//	top: 0;
	//}
	li
	{
		a
		{
			img{vertical-align: middle;}
		}
	}
}

@media (min-width: 1440px)
{
	.catalog-menu-list__wrapper{display: block;}
}

