.catalog-menu-list__wrapper
{
	display: none;
	height: 885px;
	position: absolute;
	top: -30px;
	width: 100%;
	padding: 14px 0 14px 0;
	z-index: 5;
	background-color: $white;
	& * a:hover{color: $btn-color;}
}

@media (min-width: 1440px)
{
	.catalog-menu-list__wrapper{display: block;}
}

