.mobile-burger-menu-list__wrapper
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	max-width: 318px;
	width: 100%;
	min-height: 100vh;
	max-height: 100%;
	overflow: auto;
	background-color: $white;
	img
	{
		position: absolute;
		top: 19px;
		right: 20px;
		z-index: 3;
	}
	a:hover{color: $btn-color;}
}
.mobile-burger-menu-list
{
	position: relative;
	padding: 23px 15px;
	border-bottom: 1px solid #EAEAEA;
}
.mobile-burger-menu-list__title
{
	margin-bottom: 16px;
	a
	{
		display: block;
		font-weight: $medium;
		font-size: 16px;
		line-height: 19px;
		color: $black;
	}
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
@media (min-width: $tablet)
{
	.mobile-burger-menu-list__wrapper
	{
		max-width: 365px;
		width: 100%;
	}
}
