.footer__wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
}
.footer__left
{
	display: flex;
	flex-direction: column;
	> span{margin-bottom: 5px;}
	> span:last-child{margin-bottom: 0;}
	span
	{
		font-family: $baseFont;
		font-style: normal;
		font-weight: $regular;
		font-size: 8px;
		line-height: 9px;
		color: $grey;
	}
}
.footer__right
{
	display: flex;
	align-items: center;
	span
	{
		margin-right: 13px;
		font-family: $baseFont;
		font-style: normal;
		font-weight: $regular;
		font-size: 8px;
		line-height: 9px;
		color: $black;
	}
	a:not(:last-child){margin-right: 13px;}
}
@media (min-width: 768px)
{
	.footer__right
	{
		span
		{
			font-size: 13px;
			line-height: 15px;
		}
	}
	.footer__left
	{
		flex-direction: row;
		> span{margin-bottom: 0;}
		> span:last-child{margin-bottom: 0;}
		> span:not(:last-child){margin-right: 20px;}
		span
		{
			font-size: 13px;
			line-height: 15px;
		}
	}
}
