.category__description
{
	margin-bottom: 25px;
	h2
	{
		margin: 0 0 10px 0;
		font-weight: 700;
		font-size: 26px;
		line-height: 30px;
	}
	p
	{
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $grey;
	}
}
.category__filter-button
{

	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: none;
	background-color: transparent;
	margin: 0 0 25px auto;
	p
	{
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		color: $grey;
	}
}
.category__products{margin-bottom: 30px;}
.slide-fade-enter-active
{
	transition: all 0.3s ease-out;
}

.slide-fade-leave-active
{
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to
{
	transform: translateX(20px);
	opacity: 0;
}
@media (min-width: 768px)
{
	.category__products{margin-bottom: 40px;}
}
@media (min-width: 1440px)
{
	.category__products
	{
		margin-bottom: 151px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.category__filter-button{display: none;}
}
