.products-item
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	max-width: 279px;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	padding: 10px;
	img
	{
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
	}
}
@media (min-width: 425px)
{
	.products-item
	{
		img{max-width: 100%;}
	}
}
@media (min-width: 768px)
{
	.products-item
	{
		img{margin-bottom: 19px;}
	}
}
